# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Virtual envs
.venv/
venv/

# Jupyter/Streamlit (optional)
.jupyter/
.streamlit/

# VS Code (optional)
.vscode/

# OS
.DS_Store

# Large binaries we never want
*.dll
*.lib
*.pkl
*.zip
*.whl
